body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:#B7B7A4;
}

.container {	
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
	color: #333333;
}

h1, h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
}

h3, ul {
    margin-left: 30px;
}

.links {
    text-align: center;
    margin-top: 30px;
}

.links a {
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #444;
}

.emoji {
    font-size: 1.2em;
    margin: 0 5px;
}